<table id="account-table" class="table table-striped table-baccounted" th:fragment="account-table">
    <thead>
    <tr>
        <th>user ID</th>
        <th>username</th>
        <th>first name</th>
        <th>last name</th>
        <th>email</th>
        <th>status</th>
        <th>register date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account:${accountsList}">
        <td th:text="${account.id}"></td>
        <td>
            <label>
                <input th:id="'username-input-' + ${account.id}" th:value="${account.username}"
                       oninput="onInputChanged($(this))">
            </label>
        </td>
        <td>
            <label>
                <input th:id="'firstName-input-' + ${account.id}" th:value="${account.firstName}"
                       oninput="onInputChanged($(this))">
            </label>
        </td>
        <td>
            <label>
                <input th:id="'lastName-input-' + ${account.id}" th:value="${account.lastName}"
                       oninput="onInputChanged($(this))">
            </label>
        </td>
        <td>
            <label>
                <input th:id="'email-input-' + ${account.id}" th:value="${account.email}" type="email"
                       oninput="onInputChanged($(this))">
            </label>
        </td>
        <td>
            <select class="status-select" th:id="'status-select-' + ${account.id}"
                    onchange="onInputChanged($(this))">
                <option th:each="accountStatus : ${accountStatusList}"
                        th:value="${accountStatus}" th:text="${accountStatus}"
                        th:id="'status-option-' + ${account.id} + '-' + ${accountStatus.ordinal()}"
                        th:selected="${account.status == accountStatus}">
                    <!-- Use th:selected to set the selected option -->
                </option>
            </select>
        </td>
        <td th:text="${account.registerDate}"></td>
    </tr>
    </tbody>
</table>