<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/head}">
</div>

<body>
<header th:replace="~{admin/Header}"></header>

<div style="margin: 10px">
    <label for="search-input">Search: </label>
    <input id="search-input">
    <button class="btn btn-primary" id="search-account-btn"
            onclick="onSearchAccountBtnClicked()">
        Search
    </button>
    <label for="select-search-for">
        Search for:
    </label>

    <select class="search-select col-2" id="select-search-for">
        <option value="search-username">username</option>
        <option value="search-firstName">first name</option>
        <option value="search-lastName">last name</option>
        <option value="search-Email">email</option>
    </select>

</div>


<div>
    <div id="account-table-container" th:insert="~{admin/AccountTable}"></div>
    <div class="position-fixed start-50 translate-middle bottom-0 collapse" id="table-change-btn-container">
        <button onclick="sendAccountsChange()" class="btn btn-primary">保存更改</button>
        <button onclick="resetAccountsChange()" class="btn btn-primary">还原更改</button>
    </div>

</div>


<div id="toasts-container" class="toast-container position-fixed top-0 start-50 translate-middle-x">

</div>

<div class="page-icon">
    <button onclick="previousPage()" class="page-previous">« previous</button>

    <!-- 当前页数 <= 4:显示1~6...n-1,n; 当前页数 >= n-3:显示1,2...n-5~n; else 显示1...中间5个...n -->
    <span class="page-number-icon-container">

    </span>

    <button onclick="nextPage()" class="page-next">next »</button>

    <div class="page-number-input-container">
        <label for="page-number-input-bottom"></label>
        <input type="number" class="page-number-input" id="page-number-input-bottom" placeholder="page">
        <button class="go-to-page-button">Go</button>
    </div>
</div>


<script src="/js/commonToast.js" type="text/javascript" defer></script>
<script src="/js/page.js" defer></script>
<script src="/js/account.js" defer></script>
</body>


