<table id="category-table" class="table table-striped table-bordered" th:fragment="category-table">
    <thead>
    <tr>
        <th>name</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="categoriesList" type="java.util.List<cn.csu.mypetstore_springboot.domain.Category>"*/-->
    <tr th:each="category:${categoriesList}">
        <td>
            <label>
                <input th:id="'name-input-' + ${category.id}" th:value="${category.name}"
                       oninput="onInputChanged(this.id)">
            </label>
        </td>
        <td>
            <label>
                <input th:id="'imagePath-input-' + ${category.id}" class="imagePath-input"
                       th:value="${category.imagePath}"
                       oninput="onInputChanged(this.id)">
            </label>
        </td>
        <td>
            <!-- Image of category -->
            <img src="/images/error/image_error.png" th:src="${category.imagePath}" alt="Image of category"
                 th:id="'imagePreview-' + ${category.id}">
        </td>
    </tr>
    </tbody>
</table>