<div th:replace="~{admin/head}"></div>
<link rel="StyleSheet" href="/css/jpetstore.css" type="text/css" media="screen"/>


<div id="Content">
    <div id="Catalog">
        <form method="post" id="login-form">
            <p>Please enter your username and password.</p>
            <div style="text-align: left; position: relative; width: fit-content;" class="start-50 translate-middle-x">
                <div class="mb-2">
                    <label for="username-input">
                        Username:
                    </label>
                    <input id="username-input" type="text" name="username" maxlength="32" required/>
                </div>

                <div class="mb-2">
                    <label for="password-input">
                        Password:
                    </label>
                    <input id="password-input" type="password" name="password" maxlength="64" required/>
                </div>


                <div class="mb-2">
                    <label for="v-code-input">
                        Verification Code:
                    </label>
                    <input id="v-code-input" type="text" name="vCode" size="10" maxlength="6" required/>

                    <img alt="verification code" src="/images/error/image_error.png" style="cursor: pointer"
                         th:src="@{admin/login/form/v-code}" onclick="renewVerificationCode()" id="v-code-image">

                </div>
            </div>


            <input type="submit" name="login" value="Login"/>
        </form>
    </div>

</div>

<div id="toasts-container" class="toast-container position-fixed top-0 start-50 translate-middle-x">

</div>

<script src="/js/adminLogin.js" defer></script>
<script src="/js/commonToast.js" defer></script>