<!--/*@thymesVar id="ordersList" type="java.util.List<cn.csu.mypetstore_springboot.domain.Order>"*/-->
<tr th:each="order:${ordersList}">
    <td th:text="${order.orderId}"></td>
    <td th:text="${order.userId}"></td>
    <td th:text="${order.orderDate}"></td>

    <td>
        <label>
            <select class="status-select" th:id="'status-select-' + ${order.orderId}"
                    onchange="onInputChanged($(this))">
                <option th:value="${orderStatus}" th:text="${orderStatus}"
                        th:each="orderStatus : ${orderStatusList}"
                        th:id="'status-option-' + ${order.orderId} + '-' + ${orderStatus.ordinal()}"
                        th:selected="${order.status == orderStatus}">
                    <!-- Use th:selected to set the selected option -->
                </option>
            </select>
        </label>
    </td>
    <td>
        <label>
            <input th:id="'shipAddress-input-' + ${order.orderId}" th:value="${order.shipAddress}"
                   oninput="onInputChanged($(this))">
        </label>
    </td>
    <td>
        <label>
            <input th:id="'shipCity-input-' + ${order.orderId}" th:value="${order.shipCity}"
                   oninput="onInputChanged($(this))">
        </label>
    </td>
    <td>
        <label>
            <input th:id="'shipState-input-' + ${order.orderId}" th:value="${order.shipState}"
                   oninput="onInputChanged($(this))">
        </label>
    </td>
    <td>
        <label>
            <input th:id="'shipCountry-input-' + ${order.orderId}" th:value="${order.shipCountry}"
                   oninput="onInputChanged($(this))">
        </label>
    </td>
    <td>
        <button th:onclick="'showOrderDetails('+${order.orderId}+')'" class="btn-table-blue btn">Details</button>
    </td>
</tr>