<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/head}">
</div>

<body>
<header th:replace="~{admin/Header}"></header>

<div style="margin: 10px;">
    <button class="btn btn-secondary" onclick="history.back()">Back</button>
    <label for="search-input">Search: </label>
    <input id="search-input">
    <button class="btn btn-primary" id="search-petBreed-btn"
            onclick="searchPetBreedBtnClicked()">
        Search
    </button>
    <label for="select-search-for">
        Search for:
    </label>

    <select class="search-select col-2" id="select-search-for">
        <option value="search-category.categoryName">Category</option>
        <option value="search-name">breed name</option>
    </select>

    <button class="btn btn-add" id="add-petBreed-btn" onclick="addRowToTable()">Add Pet Breed</button>
</div>


<div>
    <form id="petBreed-table-form">
        <div id="petBreed-table-container" th:insert="~{admin/PetBreedTable}"></div>
        <div class="position-fixed start-50 translate-middle bottom-0 collapse" id="table-change-btn-container">
            <button onclick="sendPetBreedsChange($(this))" class="btn btn-primary" type="submit">保存更改</button>
            <button onclick="resetPetBreedsChange()" class="btn btn-primary">还原更改</button>
        </div>
    </form>


</div>


<div id="toasts-container" class="toast-container position-fixed top-0 start-50 translate-middle-x">

</div>

<div class="page-icon">
    <button onclick="previousPage()" class="page-previous">« previous</button>

    <!-- 当前页数 <= 4:显示1~6...n-1,n; 当前页数 >= n-3:显示1,2...n-5~n; else 显示1...中间5个...n -->
    <span class="page-number-icon-container">

    </span>

    <button onclick="nextPage()" class="page-next">next »</button>

    <div class="page-number-input-container">
        <label for="page-number-input-bottom"></label>
        <input type="number" class="page-number-input" id="page-number-input-bottom" placeholder="page">
        <button class="go-to-page-button">Go</button>
    </div>
</div>

<div id="modal-container"></div>


<script src="/js/commonToast.js" type="text/javascript" defer></script>
<script src="/js/page.js" defer></script>
<script src="/js/commonModal.js" defer></script>
<script src="/js/petBreed.js" defer></script>
</body>


