<!--/*@thymesVar id="productsList" type="java.util.List<Product>"*/-->
<tr th:each="product:${productsList}">
    <td>
        <select class="petBreed-select" th:id="'petBreedId-select-' + ${product.productId}"
                onchange="onInputChanged($(this))">
            <option th:value="${petBreed.id}" th:text="${petBreed.name}"
                    th:each="petBreed : ${petBreedsList}"
                    th:id="'petBreed.name-option-' + ${product.productId} + '-' + ${petBreed.id}"
                    th:selected="${product.petBreed != null && product.petBreed.id == petBreed.id}">
                <!-- Use th:selected to set the selected option -->
            </option>
        </select>
    </td>
    <td>
        <label th:if="${editable}">
            <input th:id="'listPrice-input-' + ${product.productId}" th:value="${product.listPrice}"
                   oninput="onInputChanged($(this))" required>
        </label>
        <span th:if="${not editable}" th:text="${product.listPrice}">
        </span>
    </td>
    <td>
        <label th:if="${editable}">
            <input th:id="'unitCost-input-' + ${product.productId}" th:value="${product.unitCost}"
                   oninput="onInputChanged($(this))" required>
        </label>
        <span th:if="${not editable}" th:text="${product.unitCost}"></span>
    </td>
    <td>
        <label th:if="${editable}">
            <input th:id="'quantity-input-' + ${product.productId}" th:value="${product.quantity}"
                   oninput="onInputChanged($(this))" required>
        </label>
        <span th:if="${not editable}" th:text="${product.quantity}"></span>
    </td>
    <td>
        <button class="btn attributes-btn btn-table-blue" th:id="'attributes-btn-' + ${product.productId}"
                onclick="onAttributesBtnClick($(this))" type="button">
            Edit
        </button>
    </td>

</tr>