/* 定义按钮出场动画 */
.animate-out {
    animation: animateOut 1s forwards; /* 使用 CSS 动画，在1秒内向上移动并隐藏 */
}

/* 关键帧动画 */
@keyframes animateOut {
    from {
        transform: translateY(0); /* 初始位置：按钮位于屏幕底部 */
    }
    to {
        transform: translateY(-100vh); /* 终点位置：按钮移动到屏幕之外 */
        opacity: 0; /* 渐隐 */
    }
}

.btn-table-blue {
    background-color: #5489B2;
    color: white;
}

.btn-add {
    background-color: #FFD823;
    color: white;
}

.btn-outline-add {
    color: #FFD823;
    border-color: #FFD823;
}

.btn-outline-add:hover {
    background-color: #FFD823;
    color: white;
}

.toast {
    opacity: 0.9; /* Set the opacity level between 0 (fully transparent) and 1 (fully opaque) */
}

#account-count-display {
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    margin-top: 10px;
}

#order-count-chart {
    margin-top: 20px;
}

.ellipsis-span {
    width: 36px;
    display: inline-block;
    height: 38px;
    font-size: 1rem;
}

.invalid-feedback {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: .1rem;
    font-size: .875rem;
    color: #dc3545;
}

.small-table {
    width: 45%;
    margin: 2%;
    display: inline-table;
}