/* 定义按钮出场动画 */
.animate-out {
    animation: animateOut 1s forwards; /* 使用 CSS 动画，在1秒内向上移动并隐藏 */
}

/* 关键帧动画 */
@keyframes animateOut {
    from {
        transform: translateY(0); /* 初始位置：按钮位于屏幕底部 */
    }
    to {
        transform: translateY(-100vh); /* 终点位置：按钮移动到屏幕之外 */
        opacity: 0; /* 渐隐 */
    }
}

.btn-table-blue {
    background-color: #5489B2;
    color: white;
}

.btn-add {
    background-color: #FFD823;
    color: white;
}

.btn-outline-add {
    color: #FFD823;
    border-color: #FFD823;
}

.btn-outline-add:hover {
    background-color: #FFD823;
    color: white;
}

.toast {
    opacity: 0.9; /* Set the opacity level between 0 (fully transparent) and 1 (fully opaque) */
}

#account-count-display {
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    margin-top: 10px;
}

.ellipsis-span {
    width: 36px;
    display: inline-block;
    height: 38px;
    font-size: 1rem;
}

.invalid-feedback {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: .1rem;
    font-size: .875rem;
    color: #dc3545;
}

.small-table {
    width: 45%;
    margin: 2%;
    display: inline-table;
}

.dashboard-text {
    font-size: large;
    margin: 1em;
    background-color: white;
    display: inline-block;
}

th {
    color: #D5DDE5;
    background: #1b1e24 !important;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

#toasts-container {
    z-index: 99999999;
}

.long-text-input {
    width: 100%;
    min-height: 10rem;
}

.delete-btn {
    width: 30px; /* Set button width */
    height: 30px; /* Set button height */
    border-radius: 50%; /* Make it circular */
    /*background-color: #dc3545; !* Button background color *!*/
    /*color: #fff; !* Text color *!*/
    outline: none; /* Remove outline */
    cursor: pointer; /* Cursor on hover */
    vertical-align: middle; /* Align button vertically */
    padding: 0;
    font-size: x-large;
    line-height: 0;
    transition: background-color 0.3s; /* Smooth transition on hover */
}